@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}


html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.bg-ecf0f3 {
  background-color: #ecf0f3;
}

.shadow-transition {
  transition: box-shadow 0.5s ease-in-out;
}

@layer base {
  body {
    @apply bg-[rgb(3,7,18)] text-[#fdfdfd] tracking-wide;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl;
  }

  li {
    @apply cursor-pointer;
  }

 
}

.glow-node {
  box-shadow: 0 0 6px rgba(0, 255, 255, 0.8);
}

.glow-line {
  filter: drop-shadow(0 0 3px rgba(0, 255, 255, 0.5));
}

.glass-effect {
  background: rgba(255, 255, 255, 0.1); /* Arrière-plan semi-transparent */
  border-radius: 10px; /* Coins arrondis */
  backdrop-filter: blur(2px); /* Effet de flou */
  -webkit-backdrop-filter: blur(10px); /* Support pour Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Bordure légère */
  box-shadow: 0 4px 6px rgba(0, 255, 51, 0.514); /* Ombre légère */
  padding: 10px; /* Espacement interne */
}

.glass-effect2 {
  background: rgba(255, 255, 255, 0.1); /* Arrière-plan semi-transparent */
  border-radius: 10px; /* Coins arrondis */
  backdrop-filter: blur(2px); /* Effet de flou */
  -webkit-backdrop-filter: blur(10px); /* Support pour Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Bordure légère */
  box-shadow: 0 4px 6px rgba(0, 255, 51, 0.514); /* Ombre légère */
  padding: 15px; /* Espacement interne */  
}



.glass-effect-bar {
  background: rgba(255, 255, 255, 0.1); /* Arrière-plan semi-transparent */ 
  backdrop-filter: blur(2px); /* Effet de flou */
  -webkit-backdrop-filter: blur(10px); /* Support pour Safari */
  box-shadow: 0 4px 6px rgba(0, 255, 51, 0.514); /* Ombre légère */  
}

.custom-shadow-white {
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.25), 0 6px 6px rgba(187, 192, 188, 0.795);
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateZ(-300px);
    filter: blur(10px);
  }
  25% {
    opacity: 0.25;
    transform: translateZ(-225px);
    filter: blur(7.5px);
  }
  50% {
    opacity: 0.5;
    transform: translateZ(-150px);
    filter: blur(5px);
  }
  75% {
    opacity: 0.75;
    transform: translateZ(-75px);
    filter: blur(2.5px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
    filter: blur(0);
  }
}

.animate-reveal {
  animation: apparition 1s linear forwards;
}
.animate-reveal2 {
  animation: apparition 1.5s linear forwards;
}
.animate-reveal3 {
  animation: apparition 2s linear forwards;
}

@keyframes apparition2 {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  25% {
    opacity: 0.25;
    transform: translateX(-60px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-40px);
  }
  75% {
    opacity: 0.75;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.blur-custom {
  filter: blur(0.85px);
}

.animate-reveal9 {
  animation: apparition2 1.5s linear forwards;
}
